---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Me "
	pubDate={new Date('May 08 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		My name is Josh Cooper. I am a System Administrator attempting to transition to Software
		Development. I have a passion for IT and Software Development. I really enjoy learning about computers 
		and how they function, and I also have a love for retro computing — especially 
		old RISC Unix workstations. This website will have projects posted on it as I grow as a software developer, along with general IT-related stuff that I do in my homelab.
	</p>

	<p>
		Other hobbies I have include weightlifting, playing guitar, photography/videography, general outdoor activities, and working on vehicles. I also love working in my homelab 
		and continuing to learn about my career field, though I have not yet decided whether I will post those things here.
	</p>
</Layout>
