---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Me "
	pubDate={new Date('May 08 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		My name is Josh Cooper I am a System Administrator attempting to transition to a Software Dev. I have a passion for IT and and Software Development.
		I really enjoy learning about computers and how they function I also have a love for retro computing especially old RISC Unix workstations. This webste
		will track have projects posted on it as I grow as a software dev and just general IT related stuff that I do in my homelab. 
	</p>

	<p>
		Other hobbys I have are weight lifting, playing the guitar, photography/videography, general outdoor activities, and a love for working on vehicles.
		Obviously I love to work on my homelab and continue learning about my career field wether I post those things here I have not made a decision on that yet.

	</p>
</Layout>
