---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello welcome to my website!</h1>
			<p>
				This is a simple portfolio website that I am running for myself. 
				I hope to track my progress as a developer and document other miscellaneous projects from my homelab.
			</p>
			<p>
				Check out my About page to learn more. As always, this is a work in progress and I will continue to add to it.
			</p>
		</main>
		<Footer />
	</body>
</html>
